{% extends 'base.html' %}

{% block title %} 
"[{{ week['count']}}] Weekly Chart of {{ week['date'] }}" 
{% endblock %} 

{% block content %}
<div class="entries">
  <span class="header movement">MVMT</span>
  <span class="header cover">COVER</span>
  <span class="header song">SONG & ARTIST</span>
  <span class="header place">PLACE</span>
  <span class="header previous">LAST WK</span>
  <span class="header weeks">WEEKS</span>
  <span class="header points">POINTS</span>
  <span class="header peak">PEAK</span>

  {% for entry in entries %}
    <span class="data movement">{{ entry['movement'] }}</span>
    <img class="song-image" src="{{ entry['image'] }}" />
    <span class="song-name">
      <p class="title truncate">{{ entry['title'] }}</p>
      <p class="artists truncate">{{ entry['artists'] }}</p>
    </span>
    <span class="data place"> {{ entry['place'] }} </span>
    <span class="data previous"> {{ entry['previous'] }} </span>
    <span class="data weeks"> {{entry['weeks'] }}</span>
    <span class="data points"> {{entry['points'] }}</span>
    <span class="data peak"> {{ entry['peak'] }}</span>
  {% endfor %}
</div>
{% endblock %}
