.center-column {
  direction: ltr;
  display: block;
  margin: 0px auto;
  max-width: 1000px;
  float: none;
}

span.heading {
  font-size: 48px;
  font-family: montserrat;
  font-weight: 600;
  margin: 12px;
}

.scroller {
  overflow: scroll;
  display: block;
  margin: 0px auto;
  max-width: 1000px;
  float: none;
}

.info-title {
  display: flex;
  align-items: center;
  position: relative;
  height: 64px;
}

.label {
  font-size: 4px;
  alignment-baseline: middle;
  font-family: montserrat;
  font-weight: 500;
  text-anchor: middle;
}

body {
  background: url("./papertexture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.left {
  float: left;
}

.right {
  float: right;
}

.years {
  margin: 4px;
  position: absolute;
  bottom: 4px;
  right: 0px;
}

.year-select {
  text-align: center;
  height: 22px;
  width: 46px;
  font-size: 12px;
  font-family: montserrat;
  font-weight: 500;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  margin: 4px 2px;
  border-radius: 11px;
}

.year-select:hover {
  background-color: #555555;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-pill {
  height: 22px;
  width: 46px;
  font-size: 12px;
  font-family: montserrat;
  font-weight: 500;
  border-radius: 11px;
  background-color: #555555;
  color: white;
}

.gallery-image {
  height: 500px;
  width: auto;
}

.gallery-b-container {
  width: 5%;
  display: flex;
  justify-content: center;
}

.gallery-main-group {
  direction: ltr;
  display: flex;
  justify-content: space-between;
}

.gallery-button {
  background: transparent;
  border: none !important;
}

.gallery-button:hover {
  background-color: #f0f0f0;
  color: white;
  border-radius: 4px;
}

.entry-dots {
  margin: 8px;
}