span.data {
  text-align: center;
  height: 12px;
  padding: 18px 0;
}
.song-image,
.data {
  height: 48px;
  size: 24px;
  background-color: #448cba;
}
.data,
.title {
  font-weight: bold;
  font-family: "Mulish", sans-serif;
  color: #3d3d3d;
}
div.entries {
  display: grid;
  grid-template-columns: 40px 48px 242px 48px 48px 48px 48px 48px;
  gap: 10px;
  padding: 10px;
  background-color: #85b6df;
  width: 640px;
}
div.song-name {
  display: grid;
}
.title,
.artists {
  margin: 0px;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  color: #3d3d3d;
  height: 24px;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
span.header {
  height: 10px;
  font-weight: lighter;
  font-size: 10px;
  color: #3d3d3d;
  font-family: "Mulish", sans-serif;
}
span.header:not(.song) {
  text-align: center;
}
